<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Модель компьютера</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название модели:</dt>
            <dd>ddd</dd>

            <dt>Производитель</dt>
            <dd>dddd</dd>

            <dt>Год выпуска</dt>
            <dd>dddd</dd>
        </dl>
    </div>
</div>
