@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<viviPlanMVC.Models.Table>
<div class="overlay"></div>
<div class="overlay2"></div>
<div class="overlay3"></div>
<div class="top-title">
    <h2><img class="logo" src="~/Content/Image/logo.png">@ViewData["Title"] <a title="Редактировать"><img src="~/Content/Image/edit.png"></a></h2>
</div>
<div class="wrap">
    <div class="panel-label">
        <button class="cmn-toggle-switch cmn-toggle-switch__htx">
            <span>toggle menu</span>
        </button>
    </div>
    <div class="panel">
        <div class="avatar"><img src="~/Content/Image/girl1.png"></div>
        <div class="name"><h2>Маша Иванова</h2></div>
        <div class="list">
            <div class="filter-link"><a><img src="~/Content/Image/filter.png">Фильтр</a></div>
            <div class="labels-link"><a><img src="~/Content/Image/tag.png">Метки</a></div>
            <div><a><img src="~/Content/Image/settings.png">Настройки</a></div>
            <div class="separator"></div>
            <div><a><img src="~/Content/Image/exit.png">Выход</a></div>
        </div>
    </div>
    <div class="panel filter">
        <div class="name"><h1>Фильтр</h1><img class="close-cross" src="~/Content/Image/close.png"></div>
        <div class="block-filter">
            <div class="block-filter-title filter-label"><h2>По меткам</h2></div>
            <div class="block-filter-content">
                <div class="line"><label><input type="checkbox" /><div class="label-color green"></div>Зеленая</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" /><div class="label-color blue"></div>Синяя</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" /><div class="label-color red"></div>Красная</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" /><div class="label-color yellow"></div>Желтая</label></div>
                <div class="clear"></div>
            </div>
            <div class="block-filter-title filter-time"><h2>По сроку</h2></div>
            <div class="block-filter-content">
                <div class="line"><label><input type="checkbox" />Срок истекает в течение суток</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" />Срок истекает в течение недели</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" />Срок истекает в течение месяца</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" />Просроченные</label></div>
                <div class="clear"></div>
                <div class="line"><label><input type="checkbox" />Без срока</label></div>
                <div class="clear"></div>
            </div>
            <div class="block-filter-title filter-member"><h2>По участникам</h2></div>
            <div class="block-filter-content" id="MembesAll">
                <!--<div class="line"><label><input type="checkbox"/><div class="guy filter"><img src="~/Content/Image/girl1.png"></div>Маша</label></div>
                <div class="clear"></div>

                <div class="line"><label><input type="checkbox"/><div class="guy filter"><img src="~/Content/Image/girl3.png"></div>Енот Вася</label></div>
                <div class="clear"></div>

                <div class="line"><label><input type="checkbox"/><div class="guy filter"><img src="~/Content/Image/boy5.png"></div>Коля</label></div>
                <div class="clear"></div>

                <div class="line"><label><input type="checkbox"/><div class="guy filter"><img src="~/Content/Image/boy3.png"></div>Саня</label></div>
                <div class="clear"></div>-->
            </div>
        </div>
    </div>
    <div class="panel labels">
        <div class="name"><h1>Метки</h1><img class="close-cross" src="~/Content/Image/close.png"></div>
        <div class="block-labels">
            <div class="search"><input type="search" placeholder="Поиск меток..."></div>

            <div class="block-filter-content" id="panelMet">
                <a title="Редактировать"><div class="line"><div class="label-color green">Зеленая</div><img src="~/Content/Image/edit.png"></div></a>
                <div class="clear"></div>

                <a title="Редактировать"><div class="line"><div class="label-color blue">Синяя</div><img src="~/Content/Image/edit.png"></div></a>
                <div class="clear"></div>

                <a title="Редактировать"><div class="line"><div class="label-color red">Красная</div><img src="~/Content/Image/edit.png"></div></a>
                <div class="clear"></div>

                <a title="Редактировать"><div class="line"><div class="label-color yellow">Желтая</div><img src="~/Content/Image/edit.png"></div></a>
                <div class="clear"></div>

                <div class="line new"><div class="label-color"><img src="~/Content/Image/plus.png">Создать новую метку...</div></div>
                <div class="clear"></div>
            </div>
            <div class="newlabel" id="newLab">
                <h2>Создание метки</h2>
                <div><textarea class="title">Введите название метки...</textarea></div>
                <div class="chooselabel-container">
                    <div class="chooselabel pink" data-choose-label="1"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel blue"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel orange"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel red"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel indigo"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel lime"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel cyan"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel amber"><img src="~/Content/Image/success.png"></div>
                    <div class="chooselabel bluegrey"><img src="~/Content/Image/success.png"></div>
                    <div class="clear"></div>
                </div>
                <div class="button"><button>Создать</button></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <table>
        <caption>Приоритезированный список задач</caption>
        <tr>
            <th>Название задачи</th>
            <th>Приоритет</th>
        </tr>
        @foreach (var oneItem in Model)
        {
        <tr>
            <td> <a href="/Home/Sprint/@oneItem.Id"> @oneItem.Title </a></td>
            <td>@oneItem.Priority</td>
        </tr>
        }
    </table>
</div>
