
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <script src="~/Content/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Content/Scripts/jquery-ui.min.js"></script>
   <!-- <script src="~/Content/Scripts/mySC2.js"></script>-->
    <script src="~/Content/Scripts/js/jquery.nicescroll.min.js"></script>
    <script src="~/Content/Scripts/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/Scripts/js/script.js"></script>
    <script src="~/Content/Scripts/js/script3.js"></script>
    <script src="~/Content/Scripts/js/Authorization.js"></script>
    <script src="~/Content/Scripts/js/scriptBoard.js"></script>
    <link rel="stylesheet" href="~/Content/css/styleBoard.css">
    <!-- <script src="~/Content/Scripts/js/scriptStiker.js"></script> -->
</head>

<body class="bg">
    <div>@RenderBody()</div>
</body>
</html>

